/*top bar */

#topbar{
    height: 50px;
    width: 1000px;
    border: 10px solid black;
}

#right{
    float: right;
}

#left{
    float: left;
}

.clearfix{
    clear: both;
}

/*main bar*/

#mainbar{
    position: relative;
    height: 100px;
    width: 1000px;
    border: 10px solid black;
    border-top: 0px;
    display: flex;
}

#arms{
    height: 60px;
    transform: translateY(10%);
    position: relative;
    height: 90%;
    width:auto;
}

#divarms{
    text-align: center;
    width: 10%;
}

#choices{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbutton{
    border: 3px solid black;
    margin: 3px;
}

#searchandsuch{
    text-align: right;
    width: 30%;
    align-items: center;
    justify-content: right;
    display: flex;
}

/*main page*/

#mainpage{
    height: auto;
    width: 1000px;
    border: 10px solid black;
    border-top: 0px;
    display: flex;
}

#flexmain{
    display: flex;
    flex-direction: column;
}
/*sidepannels*/

.sidepannel{
    height: auto;
    width: 200px;
    border: 5px solid black;
    margin: 20px;
    border-top: 8px solid lightblue;
}

#sidepanels{
    display: flex;
    flex-direction: column;
}

.line{                              
    width: 112px;
    height: 3px;
    border-bottom: 3px solid black;
    position: absolute;
    margin-left:10px;
}

.sidetitle{
    margin:0px;
    margin-left: 10px;
}

.subcattitle{
    margin-left: 5px;
}

#linkmoreselect{
    margin: 0px;
    margin-right: 5px;
}

#sideimg{
    height: 70px;
    width: 70px;
}

#sideflex{
    display:flex;
    line-height: 0.2;
}

.x{
    font-size: x-large;
}

.p{
    font-size: medium;
}

.sumbitbutton{
    background-color:lightskyblue;
    height: 30px;
    margin-left: 10px;
}


/* title main page*/

#form{
    display: flex;
    height: 10%;
    text-align: right;
    align-items: center;
    width: 92.70%;
    justify-content: right;
    display: flex;
    border: 5px solid black;
    margin: 20px;
}

#title{
    margin-left: 10px;
    width: 40%;
    justify-content: left;
    display: flex;
}

.line2{
    width: 200px;
    height: 3px;
    margin-top: 40px;
    border-bottom: 3px solid black;
    position: absolute;
    margin-left:5px;

}

#articles{
    margin-top: 60px;
    
}

/*items*/

#items{
    height: 100%;
    width: 630px;
    border: 5px solid black;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    height: 200px;
    width: 126px;
    margin: 10px;
    border: 5px solid black;
    line-height: 0.2;
}

.flexcontainer{
    display: flex;
}

.img{
    width: 126px;
    height: 126px;
}

.cart{
    height: 20px;
    margin-top: 40px;
}

.itemtitle{
    margin-left: 10px;
}

/* general */

.greytext{
    color: grey;
    font-size: 13px;
    margin-left: 7px;
}

.bluetext{
    margin-left: 7px;
    color: lightskyblue;
}

